
.nav {
    grid-area: n;
    background-color: rgb(74, 192, 74);
}

.item {
    color: white;
    font-weight: 500;
    margin-left: 10px;
}

.item.active {
    color: blue;
}

.item.setting {
    margin-top: 10px;
    color: darkgreen;

}